<a href="https://colab.research.google.com/github/Rajeshwarantask/Data-science-project/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv('SEM5.csv')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SNO     60 non-null     int64
 1   REG_NO  60 non-null     object
 2   NAME    60 non-null     object
 3   DM      59 non-null     object
 4   FLA     59 non-null     object
 5   CN      58 non-null     object
 6   BD      59 non-null     object
 7   COMM    59 non-null     object
 8   CC      35 non-null     object
 9   CNS     13 non-null     object
 10  FS      11 non-null     object
 11  SRWC    59 non-null     object
dtypes: int64(1), object(11)
memory usage: 5.8+ KB

In [ ]:
grade_points={'O':10,'A+':9,'A':8,'B+':7,'B':6,'C':5,'F':0}

In [ ]:
df1['DM_pt']=df1['DM'].map(grade_points)*4
df1['FLA_pt']=df1['FLA'].map(grade_points)*3
df1['CN_pt']=df1['CN'].map(grade_points)*4
df1['BD_pt']=df1['BD'].map(grade_points)*3
df1['COMM_pt']=df1['COMM'].map(grade_points)*1
df1['CC_pt']=df1['CC'].map(grade_points)*3
df1['CNS_pt']=df1['CNS'].map(grade_points)*3
df1['FS_pt']=df1['FS'].map(grade_points)*3
df1['SRWC_pt']=df1['SRWC'].map(grade_points)*3

In [ ]:
columns=['DM_pt','FLA_pt','CN_pt','BD_pt','COMM_pt','CC_pt','CNS_pt','FS_pt','SRWC_pt']

In [ ]:
df1.fillna(0,inplace=True)

In [ ]:
total_credits=21

In [ ]:
df1['SGPA']=df1[columns].sum(axis=1)/total_credits

In [ ]:
df1

,SNO,REG_NO,NAME,DM,FLA,CN,BD,COMM,CC,CNS,...,DM_pt,FLA_pt,CN_pt,BD_pt,COMM_pt,CC_pt,CNS_pt,FS_pt,SRWC_pt,SGPA
0,1,RA00000000000390,Robert,A+,A,A+,O,O,0,0,...,36.0,24.0,36.0,30.0,10.0,0.0,0.0,27.0,27.0,9.047619
1,2,RA00000000000391,Samuel,A,B+,A,A,o,A,0,...,32.0,21.0,32.0,24.0,0.0,24.0,0.0,0.0,24.0,7.476190
2,3,RA00000000000392,Sofia,A+,A,A+,A+,O,A,0,...,36.0,24.0,36.0,27.0,10.0,24.0,0.0,0.0,24.0,8.619048
3,4,RA00000000000393,William,A+,B+,A+,O,O,0,0,...,36.0,21.0,36.0,30.0,10.0,0.0,0.0,27.0,24.0,8.761905
4,5,RA00000000000394,Liam,A,A,A,A+,O,A,0,...,32.0,24.0,32.0,27.0,10.0,24.0,0.0,0.0,24.0,8.238095
5,6,RA00000000000395,Jack,A,A,A,O,O,0,0,...,32.0,24.0,32.0,30.0,10.0,0.0,0.0,27.0,21.0,8.380952
6,7,RA00000000000396,David,O,A+,A+,A+,O,A,0,...,40.0,27.0,36.0,27.0,10.0,24.0,0.0,0.0,24.0,8.952381
7,8,RA00000000000397,Isabella,A+,A,A,A+,A+,A,0,...,36.0,24.0,32.0,27.0,9.0,24.0,0.0,0.0,21.0,8.238095
8,9,RA00000000000398,Zoe,B+,B+,A,A+,O,B+,0,...,28.0,21.0,32.0,27.0,10.0,21.0,0.0,0.0,24.0,7.761905
9,10,RA00000000000399,Matt,B+,C,A,A,O,0,B+,...,28.0,15.0,32.0,24.0,10.0,0.0,21.0,0.0,18.0,7.047619
10,11,RA00000000000400,Jack,A,A+,A+,O,O,0,0,...,32.0,27.0,36.0,30.0,10.0,0.0,0.0,27.0,27.0,9.000000
11,12,RA00000000000401,Isabella,O,O,O,O,O,A,0,...,40.0,30.0,40.0,30.0,10.0,24.0,0.0,0.0,24.0,9.428571
12,13,RA00000000000402,Ann,A+,A,A,A+,O,B+,0,...,36.0,24.0,32.0,27.0,10.0,21.0,0.0,0.0,24.0,8.285714
13,14,RA00000000000403,Stella,A,A,O,O,O,A+,0,...,32.0,24.0,40.0,30.0,10.0,27.0,0.0,0.0,24.0,8.904762
14,15,RA00000000000404,Lucy,A+,A,A,O,O,A,0,...,36.0,24.0,32.0,30.0,10.0,24.0,0.0,0.0,24.0,8.571429
15,16,RA00000000000405,Isabella,A+,A,A+,A,O,A,0,...,36.0,24.0,36.0,24.0,10.0,24.0,0.0,0.0,24.0,8.476190
16,17,RA00000000000406,Dylan,A+,A+,O,A+,O,0,0,...,36.0,27.0,40.0,27.0,10.0,0.0,0.0,27.0,27.0,9.238095
17,18,RA00000000000407,Levi,A,A+,A+,A,O,0,A,...,32.0,27.0,36.0,24.0,10.0,0.0,24.0,0.0,21.0,8.285714
18,19,RA00000000000408,Jennifer,O,A+,A+,O,O,A,0,...,40.0,27.0,36.0,30.0,10.0,24.0,0.0,0.0,30.0,9.380952
19,20,RA00000000000409,Sam,A+,A+,A+,A+,O,A+,0,...,36.0,27.0,36.0,27.0,10.0,27.0,0.0,0.0,27.0,9.047619
20,21,RA00000000000410,Emily,A,A,A,A+,O,B+,0,...,32.0,24.0,32.0,27.0,10.0,21.0,0.0,0.0,24.0,8.095238
21,22,RA00000000000411,Michael,O,A+,O,O,O,A+,0,...,40.0,27.0,40.0,30.0,10.0,27.0,0.0,0.0,27.0,9.571429
22,23,RA00000000000412,Lily,A,A,A+,A,B+,A,0,...,32.0,24.0,36.0,24.0,7.0,24.0,0.0,0.0,24.0,8.142857
23,24,RA00000000000413,Robert,O,A+,0,A,O,A+,0,...,40.0,27.0,0.0,24.0,10.0,27.0,0.0,0.0,27.0,7.380952
24,25,RA00000000000414,Mason,A+,A+,A+,O,O,0,O,...,36.0,27.0,36.0,30.0,10.0,0.0,30.0,0.0,30.0,9.476190
25,26,RA00000000000415,Samuel,A,B+,B+,A,O,B+,0,...,32.0,21.0,28.0,24.0,10.0,21.0,0.0,0.0,24.0,7.619048
26,27,RA00000000000416,Ava,A+,A,A+,A+,O,A,0,...,36.0,24.0,36.0,27.0,10.0,24.0,0.0,0.0,27.0,8.761905
27,28,RA00000000000417,Emily,A+,A+,A+,O,O,A,0,...,36.0,27.0,36.0,30.0,10.0,24.0,0.0,0.0,24.0,8.904762
28,29,RA00000000000418,Eli,A,A+,A+,O,O,0,0,...,32.0,27.0,36.0,30.0,10.0,0.0,0.0,24.0,21.0,8.571429
29,30,RA00000000000419,Ella,A+,A+,A+,A+,O,A+,0,...,36.0,27.0,36.0,27.0,10.0,27.0,0.0,0.0,24.0,8.904762
30,31,RA00000000000420,Sebastian,A,B+,A,A,O,0,A+,...,32.0,21.0,32.0,24.0,10.0,0.0,27.0,0.0,21.0,7.952381
31,32,RA00000000000421,Chloe,A+,B+,B+,O,O,0,A,...,36.0,21.0,28.0,30.0,10.0,0.0,24.0,0.0,27.0,8.380952
32,33,RA00000000000422,Lucas,A+,A+,B+,O,A+,0,A,...,36.0,27.0,28.0,30.0,9.0,0.0,24.0,0.0,27.0,8.619048
33,34,RA00000000000423,Sofia,O,O,A+,O,O,A+,0,...,40.0,30.0,36.0,30.0,10.0,27.0,0.0,0.0,27.0,9.523810
34,35,RA00000000000424,Camila,A+,A,O,A+,A+,A+,0,...,36.0,24.0,40.0,27.0,9.0,27.0,0.0,0.0,24.0,8.904762
35,36,RA00000000000425,Amelia,O,A,A+,O,O,0,A+,...,40.0,24.0,36.0,30.0,10.0,0.0,27.0,0.0,24.0,9.095238
36,37,RA00000000000426,Levi,O,O,O,O,O,A+,0,...,40.0,30.0,40.0,30.0,10.0,27.0,0.0,0.0,24.0,9.571429
37,38,RA00000000000427,Ryan,O,O,A+,O,O,A,0,...,40.0,30.0,36.0,30.0,10.0,24.0,0.0,0.0,27.0,9.380952
38,39,RA00000000000428,William,A,B,A,A,O,0,A,...,32.0,18.0,32.0,24.0,10.0,0.0,24.0,0.0,21.0,7.666667
39,40,RA00000000000429,Daniel,O,O,O,A+,O,A,0,...,40.0,30.0,40.0,27.0,10.0,24.0,0.0,0.0,24.0,9.285714
40,41,RA00000000000430,Lucy,A+,A,A+,A+,O,0,0,...,36.0,24.0,36.0,27.0,10.0,0.0,0.0,24.0,27.0,8.761905
41,42,RA00000000000431,Owen,A+,A,A+,O,O,0,0,...,36.0,24.0,36.0,30.0,10.0,0.0,0.0,27.0,27.0,9.047619
42,43,RA00000000000432,Zoe,A+,A,A+,A+,o,A,0,...,36.0,24.0,36.0,27.0,0.0,24.0,0.0,0.0,24.0,8.142857
43,44,RA00000000000433,Ella,O,O,O,O,O,0,0,...,40.0,30.0,40.0,30.0,10.0,0.0,0.0,27.0,27.0,9.714286
44,45,RA00000000000434,Michael,A,B+,A,A+,O,A,0,...,32.0,21.0,32.0,27.0,10.0,24.0,0.0,0.0,24.0,8.095238
45,46,RA00000000000435,Ella,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
46,47,RA00000000000436,Abigail,A+,B+,A,A,B+,B+,0,...,36.0,21.0,32.0,24.0,7.0,21.0,0.0,0.0,21.0,7.714286
47,48,RA00000000000437,Dylan,O,A+,O,O,O,A+,0,...,40.0,27.0,40.0,30.0,10.0,27.0,0.0,0.0,30.0,9.714286
48,49,RA00000000000438,William,B+,A,A+,A+,O,A,0,...,28.0,24.0,36.0,27.0,10.0,24.0,0.0,0.0,24.0,8.238095
49,50,RA00000000000439,Benjamin,B+,A,A+,O,O,0,A+,...,28.0,24.0,36.0,30.0,10.0,0.0,27.0,0.0,24.0,8.523810
50,51,RA00000000000440,Hannah,A+,O,A+,O,O,0,0,...,36.0,30.0,36.0,30.0,10.0,0.0,0.0,30.0,24.0,9.333333
51,52,RA00000000000441,Harper,A,A,A+,A+,O,B+,0,...,32.0,24.0,36.0,27.0,10.0,21.0,0.0,0.0,24.0,8.285714
52,53,RA00000000000442,Levi,A+,A+,O,A+,O,0,0,...,36.0,27.0,40.0,27.0,10.0,0.0,0.0,27.0,27.0,9.238095
53,54,RA00000000000443,Joseph,A+,A+,O,A,A,A,0,...,36.0,27.0,40.0,24.0,8.0,24.0,0.0,0.0,24.0,8.714286
54,55,RA00000000000444,Sofia,O,A+,O,O,O,0,A+,...,40.0,27.0,40.0,30.0,10.0,0.0,27.0,0.0,27.0,9.571429
55,56,RA00000000000445,Mason,O,O,O,O,O,0,O,...,40.0,30.0,40.0,30.0,10.0,0.0,30.0,0.0,27.0,9.857143
56,57,RA00000000000446,Olivia,A+,O,O,A+,O,0,A+,...,36.0,30.0,40.0,27.0,10.0,0.0,27.0,0.0,27.0,9.380952
57,58,RA00000000000447,Lucas,B+,B+,A,A+,O,B+,0,...,28.0,21.0,32.0,27.0,10.0,21.0,0.0,0.0,24.0,7.761905
58,59,RA00000000000448,Mia,A,A+,A+,A+,O,0,A,...,32.0,27.0,36.0,27.0,10.0,0.0,24.0,0.0,24.0,8.571429
59,60,RA00000000000449,Benjamin,B+,A,A+,O,O,A,0,...,28.0,24.0,36.0,30.0,10.0,24.0,0.0,0.0,21.0,8.238095

In [ ]:
df1[['REG_NO','NAME','SGPA']].sort_values('SGPA',ascending=False)

              REG_NO       NAME      SGPA
55  RA00000000000445      Mason  9.857143
47  RA00000000000437      Dylan  9.714286
43  RA00000000000433       Ella  9.714286
36  RA00000000000426       Levi  9.571429
54  RA00000000000444      Sofia  9.571429
21  RA00000000000411    Michael  9.571429
33  RA00000000000423      Sofia  9.523810
24  RA00000000000414      Mason  9.476190
11  RA00000000000401   Isabella  9.428571
37  RA00000000000427       Ryan  9.380952
56  RA00000000000446     Olivia  9.380952
18  RA00000000000408   Jennifer  9.380952
50  RA00000000000440     Hannah  9.333333
39  RA00000000000429     Daniel  9.285714
16  RA00000000000406      Dylan  9.238095
52  RA00000000000442       Levi  9.238095
35  RA00000000000425     Amelia  9.095238
19  RA00000000000409        Sam  9.047619
41  RA00000000000431       Owen  9.047619
0   RA00000000000390     Robert  9.047619
10  RA00000000000400       Jack  9.000000
6   RA00000000000396      David  8.952381
29  RA00000000000419       Ella  8.904762
34  RA00000000000424     Camila  8.904762
13  RA00000000000403     Stella  8.904762
27  RA00000000000417      Emily  8.904762
40  RA00000000000430       Lucy  8.761905
26  RA00000000000416        Ava  8.761905
3   RA00000000000393    William  8.761905
53  RA00000000000443     Joseph  8.714286
32  RA00000000000422      Lucas  8.619048
2   RA00000000000392      Sofia  8.619048
28  RA00000000000418        Eli  8.571429
14  RA00000000000404       Lucy  8.571429
58  RA00000000000448        Mia  8.571429
49  RA00000000000439   Benjamin  8.523810
15  RA00000000000405   Isabella  8.476190
5   RA00000000000395       Jack  8.380952
31  RA00000000000421      Chloe  8.380952
12  RA00000000000402        Ann  8.285714
51  RA00000000000441     Harper  8.285714
17  RA00000000000407       Levi  8.285714
48  RA00000000000438    William  8.238095
59  RA00000000000449   Benjamin  8.238095
7   RA00000000000397   Isabella  8.238095
4   RA00000000000394       Liam  8.238095
42  RA00000000000432        Zoe  8.142857
22  RA00000000000412       Lily  8.142857
44  RA00000000000434    Michael  8.095238
20  RA00000000000410      Emily  8.095238
30  RA00000000000420  Sebastian  7.952381
8   RA00000000000398        Zoe  7.761905
57  RA00000000000447      Lucas  7.761905
46  RA00000000000436    Abigail  7.714286
38  RA00000000000428    William  7.666667
25  RA00000000000415     Samuel  7.619048
1   RA00000000000391     Samuel  7.476190
23  RA00000000000413     Robert  7.380952
9   RA00000000000399       Matt  7.047619
45  RA00000000000435       Ella  0.000000